p, h4, #nhdNum{
	color: red;
}

*{
	background-color: lightblue;
}
th {
	color:black;
	width:14.285714285714285714285714285714%;
	height:75px;
}

#bday, #bdayNum{
	color: green;
}

h1{
	color: violet;
	font-style: bold;
	font-variant: normal;
	font-weight: bold;
	font-size: 16pt; 
	line-height: normal;
	font-family: "Helvetica", sans-serif;
}
