h1 {
  font-family: Verdana, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p, span, li{
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
  background-color:#F0F8FF;
}

.header{
  text-align: center;
}

.main{
  max-width: 660px;
    margin: 0 auto;
}

.footer{
  text-align:center;
}
